@media (min-width:481px) and (max-width:850px) {
    
.homeDiv{
    height: 500px;
    border-top: 1px solid red;
    /* margin-top: 50px; */
    background-image: url("https://images.unsplash.com/photo-1665178148753-07b82e30810e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80");
    background-size: 100% ;
    animation-name: slide;
    width: 100%;
}

.left_home_div{
    width: 60%;
    height: 90%;
    margin: auto;
    margin-top: 80px;
    border: 1px solid grey;
   padding-top: 10px;
    backdrop-filter: blur(30px);
    border-radius: 30px 0 30px 0;

color: goldenrod;

    /* animation-name: slide; */
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: .4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation: loader 1.25s ease-in-out;
    
}

@keyframes slide {
    0% {
      left: -100;
      top: 0;
      color: rgb(6, 43, 209);
    }
    50% {
      left: 120px;
      top: 0px;
      color: rgba(105, 16, 146, 0.89);
    }
    100% {
      left: 60px;
      top: 0;
      color: rgba(223, 11, 11, 0.945)
    }
  }

  @keyframes loader {
    0% {
      rotate: 0deg;
    }
    100% {
      /* border-radius: 50%; */
      rotate: 360deg;
    }
  }


  /* ======projects==== */

#projectDiv{
    /* border: 1px solid green; */
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1614854262340-ab1ca7d079c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
background-size: 50% 100%;
/* color: black; */

/* height: 1200px; */

}

.project_card{
    /* border: 2px solid blue; */
    width: 80%;
    height: 95%;
    margin: auto;
    display: grid;
    gap: 20px;
    
}
.card{
    margin: auto;
    padding: 5px;
    /* height: 300px; */
    /* border: 1px solid yellow; */
    width: 80%;
    backdrop-filter: blur(30px);
    color: rgb(194, 191, 191);
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 12px;

}
.card>img{
    width: 90%;
}

/* --------skill component ------*/

#skill{
    /* border: 1px solid red; */
   background: url("https://images.unsplash.com/photo-1614851099511-773084f6911d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
   background-size: 100% 100%;
   /* height: 700px; */
   color: goldenrod;
   padding-bottom: 20px;
    
}
.SkillsDiv{
    width: 55%;
    height: 85%;
    margin: auto;
    border-right: 2px solid rgb(16, 16, 66);
    
    border-left: 2px solid rgb(212, 18, 18);
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(auto,100px);
    row-gap: 10px;
    backdrop-filter: blur(80px);
   border-radius: 30px 0 30px 0;
    justify-items: center;
    padding: 15px;
    
     
}
.SkillsDiv>div{
    align-self: center;
    /* border: 1px solid red; */
    /* display: flex;
    justify-content: space-around; */
    /* width: 50%; */
    /* height: 80px; */
   padding: 10px;
    /* backdrop-filter: blur(80px); */

}
.Chakra>img{
    width: 80px;
    
  }
#SkillsDiv div i{
    /* border: 1px solid blue; */
    font-size: 80px;
}
.SkillsDiv>div>h2{
    font-size: 16px
}


/* ------------------------------ */
/* ------practice css------- */

.practiceComp{
    width: 100%;
    height: 750px;
    /* border: 1px solid red; */
    background-image: url("https://images.unsplash.com/photo-1548092372-0d1bd40894a3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: 100% 100%;
    position: relative;
   
}
.innerPrac{
    position:absolute;
    width: 80%;
    height: 90%;
    margin: auto;
    /* border: 1px solid blue; */
  
    /* background-color: rgba(255, 255, 255, 0.267); */
    backdrop-filter: blur(100px);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: grid;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-left: 10%;
    /* margin-top: 10px; */
    color: grey;
    border: 2px solid rgba(150, 147, 147, 0.568);
    gap: 10px;
 
    
 }

 .innerPrac>div{
    width: 100px;
    height: 100px;
    border: 5px solid rgb(19, 180, 19);
    border-radius: 50%;  
    display: flex;
    justify-content: center;
    padding: 20px;
    
    
 }
 .innerPrac>div>h3{
    margin-top: 20px;
 }
 

/* -------------------------- */

/* ----contact------- */
.Contacts{
border: 1px solid red;
display: flex;
background-image: url("https://images.unsplash.com/photo-1601752943749-7dd8d89f407a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");

background-size: 100%;
font-size: 14px;
}
.email_setup{
/* border: 1px solid blue; */
width: 30%;
margin: 10px;
}
.phone{
    /* border: 1px solid green; */
    display: grid;
    justify-content: center;
    font-size: 12px;
    backdrop-filter: blur(90px);
    /* padding: 10px; */
}
/* ----------------- */
.GithubCal{
    width: 100%;
    border: 1px solid green;
    color: goldenrod;
}
.cal{
    border-radius: 12px;
    color: goldenrod;
    padding: 10px;
}
}