.projectDiv {
  width: 100%;
  /* border: 1px solid blue; */
  /* height: 650px; */

  /* overflow: hidden; */
  background-color: rgb(119, 117, 117);
  background: linear-gradient(rgb(79, 79, 80), rgb(139, 137, 137));
  /* display: flex; */
  /* justify-content: space-evenly; */
  color: black;
  /* font-size: 20px; */
  font-weight: bolder;
  background-image: url("https://images.unsplash.com/photo-1607706009771-de8808640bcf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
  background-size: 100%;
  /* padding: 80px; */
  /* width: 100%; */
  background: transparent;
  height: auto;
}
.project_card {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, auto);
  /* border: 2px solid rgb(235, 16, 16); */
  /* width: 80%; */
  /* display: flex; */
  margin: auto;
  /* width: 80%; */
  padding: 10px;

  justify-content: space-around;
  gap: 10px;
  margin-top: 50px;
  height: auto;
}

.card {
  /* border: 1px solid red; */
  width: 400px;
  height: 450px;

  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaNZdCuj2Nz_ExvFiU15824FdCepMm6hhDww&usqp=CAU"); */
  border-radius: 10px;
  background-size: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
  backdrop-filter: blur(99px);
  /* color: grey; */
  background-color: rgba(255, 255, 255, 0.171);
  animation: loader 4s alternate;
  padding: 10px;
  transition: 0.2s;
}
.card:hover {
  width: 400px;
  transition: 0.5s ease;

  background-color: rgb(41, 41, 41);

  color: goldenrod;
}
