.App {
  text-align: center;
  position: absolute;
}
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.App {
  text-align: center;

}

*{
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
 
}

.mypic{
  cursor: pointer;
  animation: satyampp infinite 20s linear;
}
/* @keyframes satyampp {
  from{
    transform: rotate(0deg);
  }
  to{
     transform: rotate(360deg);
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* --------navbar mobile-------- */
/* ---------------------------------- */
@media all and  (min-width:80px) and (max-width:480px) {
  .NavbarSubDiv{
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(1,auto);
    /* height: auto; */
    gap: 5px;
    width: 100%;
    justify-content:center
    
    
  }
  .NavbarSubDiv>div{
    /* border: 1px solid red; */
    width: 150px;
  }
.NavbarDiv{
  height: 100px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  /* border: 1px solid red; */
  width: 100%;
}
.name_logo{
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
}

.name_logo>span{
  color: yellow;
}
.NavbarSubDiv Button{
  background-color: rgb(39, 39, 39);
/* background-color: none; */
  
}
.NavbarSubDiv Button:hover{
  color: grey;
  background-color: yellow;

}

/* skill div mobile*/




#skill{
  background-image: url("https://images.unsplash.com/photo-1584454238666-b3448a90d85f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-size: 100% ;
  padding-top: 150px;
}
.SkillsDiv{
  /* border: 1px solid blue; */
  display: grid;
  width: 80%;
  height: 500px;
  grid-template-columns: repeat(2,130px);
  grid-template-rows: repeat(5,100px);
  margin: auto;
  gap: 10px;
  justify-content: center;
  /* padding-top:150px ; */
}

.SkillsDiv div{
  /* border: 1px solid red; */
  /* margin: auto; */
  /* width: 50%; */
  cursor: pointer;
 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
border-radius: 8px;

padding-top: 10px;
background-color: grey;

  
}
.SkillsDiv div:hover{
  /* border: 1px solid blue; */
  /* cursor: pointer; */
   border: 1px solid transparent;
   color: white;
   /* background-color: transparent; */
 
  
}
.SkillsDiv h2{
  color: black;
  margin-top: 10px;
}


.SkillsDiv>div>i{
  font-size: 40px;
 
}

.Chakra>img{
  /* font-size: 80px; */
  width: 40px;
}

/* project----mobile css */
.projectDiv{
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: (100px,1fr);
  grid-template-rows: repeat(2,auto);
  
  /* width: 100%; */
  justify-content: center;
  background: linear-gradient(rgb(79,79,80),rgb(139, 137, 137));
  padding-top: 120px;
  background-image: url("https://images.unsplash.com/photo-1562229126-0cb2e7c2b2e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");
  font-size: 16px;
  /* color: red; */
  font-weight: bolder;
}
.card{
  /* border: 1px solid blue; */
  width: 80%;
  /* justify-content: center; */
  margin: auto;
  margin-bottom: 20px;
  color: white;
}
.tech_stack>div i{
  /* border: 1px solid red; */
  font-size: 30px;
}



/* -----------contacts css for mobbile------- */
  
#contacts{
  width: 94%;
  /* border: 1px solid blue; */
  font-size: 7px;
  background-image: url("https://images.unsplash.com/photo-1513506003901-1e6a229e2d15?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  /* color: brown; */
  font-weight: bolder;
   text-decoration:overline;
   padding: 10px;
   background-size: 100% 100%;
}
.email_setup{
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
  height: 200px;
  /* gap: 20px; */
}
.email_setup input{
  width: 150px;
  height: 25px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
}
#send_btn{
  width: 50px;
  background-color: rgb(241, 241, 127);
  cursor: pointer;
  border: 1px solid black;
}
textarea{
  width: 130px;
  height:50px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px;
  /* margin-left: 20px; */
}
}


/* ----Navbar-CSS--------- */

@media screen and (min-width:481px) {
  

  .projectDiv{
    /* border: 1px solid blue; */
    height: 600px;
    background-color:rgb(119, 117, 117);
    background: linear-gradient(rgb(79,79,80),rgb(139, 137, 137));
    /* display: flex; */
    justify-content: space-evenly;
    color:black;
    /* font-size: 20px; */
    font-weight: bolder;
    background-image: url("https://images.unsplash.com/photo-1613744358026-dd879eba3a8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
    background-size: 100%;
    padding: 80px;
    
  }
  .project_card{
    /* border: 1px solid blue; */
    display: flex;
    margin: auto;
    width: 70%;
    justify-content: space-between;
    margin-top: 100px;
  }

  .card{
    /* border: 1px solid red; */
    width: 400px;
    height: 500px;
    /* margin-top: 100px; */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaNZdCuj2Nz_ExvFiU15824FdCepMm6hhDww&usqp=CAU");
    border-radius: 10px;
    background-size: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .tech_stack{
    width: 250px;
    margin: auto;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
  }
  .tech_stack>div i{
    /* border: 1px solid red; */
    font-size: 50px;
  }


.NavbarDiv{
  /* border: 1px solid black; */
  width: 100%;
  height: 50px;
  /* background-color: rgb(80, 80, 80); */
  position: fixed;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(5px);
}

.name_logo{
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  margin-left: 25px;
  cursor: pointer;
  
}
.name_logo>span{
  color: yellow;
}
.NavbarSubDiv{
  /* border: 1px solid rgb(7, 7, 20); */
  height: 80%;
  width: 50%;
  display: flex;
  /* margin: auto; */
  /* margin-top: 6px; */
  justify-content: space-around;
  padding: 5px;

}

.NavbarSubDiv>div{
  box-shadow: rgba(184, 184, 184, 0.35) 0px 5px 15px;
  border: none;
   border-radius: 8px;
}

.NavbarSubDiv Button{
  background-color: rgb(39, 39, 39);
/* background-color: none; */
color: rgb(221, 221, 85);
  
}
.NavbarSubDiv Button:hover{
  color: black;
  background-color: yellow;

}

}
/*--------------- About css ------------------*/
.aboutDiv{
  width: 100%;
  height: 600px;
  /* border: 1px solid red; */
  background-color: #6c6c6d;
  background: linear-gradient(rgb(79, 79, 82),rgb(139, 137, 137));
  color:rgb(43, 42, 42);
  padding-top: 50px;
  background-image: url("https://images.unsplash.com/photo-1629905679177-4c4e2623654f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=918&q=80");
  background-size: 100% 100% ;
  
  
}
.about_div_img {
  /* border: 2px solid red; */
  /* border-top: 2px solid yellow; */
  /* border-radius: 80%; */
  width: 32%;
  height: 420px;

  /* margin: 10px; */
}

.about_div_img>img{
  border-radius: 50%;
  width: 95%;
  height: 100%;
}
.about_flex{
  display: flex;
  /* border: 1px solid yellow; */
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

.about_description{
 /* border: 1px solid blue; */
 width: 65%;

 
 
}
.about_description>h2{
  color:rgb(112, 111, 111);
  font-weight: bolder;
}

.waviy{
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 55px;
  color: rgb(206, 143, 7);
}
.waviy span{
  /* font-family: 'Alfa Slab One', cursive; */
  position:relative;
  display: inline-block;
  /* color: #fff; */
  /* text-transform: uppercase; */
  animation: waviy 3s infinite;
  animation-delay: calc(.1s );
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(20)
  }
  20% {
    transform: translateY(-20px)
  }
}


.about_text{
  font-size: 20px;
  text-decoration: underline;
  color: black;
  font-weight: bolder;
  
}




.mypic{
  
  /* border-radius: 12px; */
  border: 2px solid yellow;
  height: 250px;
  width: 240px;
  margin-top: 80px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* -------------Home mobile css------------------ */

@media screen and (min-width:80px) and (max-width:480px) {
  .homeDiv{
   
    
  padding-top: 150px;
      /* border: 2px solid blue; */
      width: 100%;
      /* height: 600px; */
      /* display: flex; */
      background-color: rgb(79, 79, 82);
      color: rgb(241, 241, 82)
      
      
      
  }

  .right_home_div>img{
    border-radius: 50%;
    border: 1px solid yellow;
    width: 50%;
    height: 240px;
    margin-top: 150px;
  }

  .aboutDiv{
    height: auto;
    font-size: 12px;
  /* border: 1px solid blue; */
    justify-content: center;
    padding-top: 150px;
   
  }
  .about_flex{
    /* border: 1px solid red; */
    display: grid;
  }
  .about_div_img{
/* border: 1px solid teal; */
margin: auto;
width: 95%;
  }

  .about_description{
    /* border: 1px solid yellow; */
    width: 95%;
    margin: auto;
    
  }
  .about_description h2{
    color: white;
  }



  
}

/* -----------Home css------ */

@media screen and (min-width:481px)  {

  
.red_mark{
  color: red;
}

.homeDiv{
background-image:url("https://images.unsplash.com/photo-1623520527569-fee1da87f598?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");  
background-size: 100% 130%;

border-top: 2px solid yellow;
width: 100%;
height: 650px;
/* display: flex; */
background-color: rgb(79, 79, 82);
color: yellow


}

.homeDiv>div>h1{
  font-size: 90px;
}
.left_home_div{
  /* border: 2px solid blue; */
  width: 99%;
  margin-top: 150px;
  height: 350px;
  /* margin-left: 10%; */
  /* margin: auto; */
}
.white_color{
  color:yellow;
}
.full_stack{
  color: rgb(236, 240, 17);
}


.homeDiv>div>h2{
  font-size: 50px;
}
.hey{
  margin-left: -50%;
}
.hey>span{
  color: red;
}
.socialIcon{
  width: 300px;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  gap: 20px;
  padding: 10px;
  margin-left: 75%;
  margin-top: 10px;
}
.linkedIn{
  content: '';
position:static;
top: 0;
left: -100px;
width: 70px;
height: 100%;
/* background: rgba(255,255,255, 0.3); */
/* transform: skewX(-30deg); */
animation-name: slide;
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-delay: .4s;
animation-iteration-count: infinite;
animation-direction: alternate;
/* background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  ); */
}
@keyframes slide {
  0% {
    left: -100;
    top: 0;
    color: rgb(16, 245, 234);
  }
  50% {
    left: 120px;
    top: 0px;
    color: rgb(238, 159, 69);
  }
  100% {
    left: 60px;
    top: 0;
    color: rgb(30, 146, 240)
  }
}
#skill{
  /* background-color: rgb(92, 92, 92); */
  background: linear-gradient(rgb(139, 137, 137),rgb(79,79,80));
  color: white;
  /* display:flex; */
  /* border: 1px solid blue; */
  overflow:hidden;
  height: 500px;
  padding: 100px;
  background-image: url("https://images.unsplash.com/photo-1539795845756-4fadad2905ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: 100%;
}


.Chakra>img{
  width: 68px;
  
}
.SkillsDiv{
  height: 200px;

  align-items: center;
  display: flex;
  /* border: 1px solid red; */
  margin: auto;
  gap: 10px;
  margin-top: 80px;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.SkillsDiv div{
  /* border: 1px solid blue; */
  cursor: pointer;
  /* border: 1px solid red; */
  /* backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(5px); */
  /* filter: blur(8px); */
  /* -webkit-filter: blur(1px); */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
border-radius: 8px;
width: 130px;
height: 140px;
padding-top: 10px;
background-image: url("https://images.unsplash.com/photo-1626613798997-cd0d975ef8a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");

  
}
.SkillsDiv div:hover{
  /* border: 1px solid blue; */
  /* cursor: pointer; */
   border: 1px solid transparent;
   color: white;
   /* background-color: transparent; */
 
  
}
.SkillsDiv h2{
  color: black;
  margin-top: 10px;
}


.SkillsDiv>div>i{
  font-size: 80px;
  /* font-weight: 50px; */
  /* color: #61dafb; */
}

.email_setup{
  /* border: 1px solid red; */
  width: 25%;
  height: 300px
}
.email_setup input{
  width: 300px;
  height: 25px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
}
#send_btn{
  width: 50px;
  background-color: rgb(241, 241, 127);
  cursor: pointer;
  border: 1px solid black;
}
textarea{
  width: 300px;
  height:100px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px;
  /* margin-left: 20px; */
}

.Contacts{
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  height: 300px;
  padding: 30px;
  /* border: 1px solid red; */
  background-color:rgb(80, 79, 79);
  background: linear-gradient(rgb(139, 137, 137),rgb(80,79,79));
  background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
  background-size: 100%;
}

.contacts_details{
  width: 55%;
  /* border: 1px solid green; */
  height: auto
}

}



/* ------------------------------------ */
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.linkedIn i{
  
  font-size: 80px;
  border-radius: 8px;

}

.github i{
  font-size: 80px;
  
}
.none{
  display: none;
  color: yellow;
  
}

.linkedIn i:hover ,.linkedIn i:hover +div {
  /* background-color: yellow; */
  color:rgb(201, 201, 90);
  display: block;
  border: none;
  cursor: pointer;
  /* border: 1px solid red; */
  



}




a{

  text-decoration: none;
}

/* ---------------------footer------------------------- */
.footer{
  /* border: 1px solid black; */
  height: 30px;
  background:linear-gradient(rgb(80, 79, 79),rgb(85, 84, 84));
  color:yellow;

  padding: 10px;

 border-top: 0.5px  solid rgb(70, 69, 69);
  
}


/* --------Projects section CSS----- */



.card>div>img{
  width: 100%;
  height: 60%;
  /* border: 2px solid yellow; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 8px;
}
.demobtn{
  /* width: 89px; */
  height: 35px;
  background-color: transparent;
  border: none;
  border: 1px solid yellow;
  border-radius: 8px;
  margin: 5px;
  text-transform: uppercase;
  padding: 5px;
  margin-top: 15px;
  
}
.demobtn:hover{
  background-color: rgb(221, 221, 69);
  cursor: pointer;
  color: black;
}
.demobtn >a{
  text-decoration: none;
  color: white;
}
.demobtn>a:hover{
  color:black;
}



/* --------HOME-CSSS ----------*/
/* ----------------------------- */

.home{
  width: 100%;
  height: 500px;
  border: 1px solid green;
}

/* ------ContactasCss */
/* -------------------- */

.phone{
  width: 50%;
  margin: auto;
  /* border: 1px solid red; */
  margin-top: 20px;
}


.footer>p>i{
  color: red;
}

.homebtn>i{
  margin-left: -40px;
  font-size: 30px;
}